<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Project_data
        version_major="1"
        version_minor="1"
        version_mode="DEBUG"
        URL="https://github.com/JonMS95/C_Server_Socket"
        type="library"
        language="C"
        library_name="ServerSocket"
    />
    <!-- Directory structure -->
    <Directories>
        <Dynamic_libraries/>
        <Dependency_files>
            <Header_files/>
            <Dynamic_libraries/>
        </Dependency_files>
        <Tests>
            <Dependency_files>
                <Dynamic_libraries/>
                <Header_files/>
            </Dependency_files>
            <Executable_files/>
        </Tests>
    </Directories>
    
    <!-- Common shell files location -->
    <Common_shell_files
        version_major="1"
        version_minor="1"
        version_mode="DEBUG"
        local_path="~/Desktop/scripts/C/C_Common_shell_files"
        URL="https://github.com/JonMS95/C_Common_shell_files"
    />

    <!-- API -->
    <!-- Dependencies -->
    <Dependencies Dest="Dependency_files">
        <C_Severity_Log
            version_major="1"
            version_minor="1"
            version_mode="DEBUG"
            local_path="~/Desktop/scripts/C/C_Severity_Log"
            URL="https://github.com/JonMS95/C_Severity_Log"
        />
    </Dependencies>

    <!-- Tests -->
    <!-- Paths to dependency files for the testing executable. -->
    <Tests>
        <Dependencies Dest="Tests/Dependency_files">
            <C_Severity_Log
                version_major="1"
                version_minor="1"
                version_mode="DEBUG"
                local_path="~/Desktop/scripts/C/C_Severity_Log"
                URL="https://github.com/JonMS95/C_Severity_Log"
            />
            <C_Arg_Parse
                version_major="1"
                version_minor="1"
                version_mode="DEBUG"
                local_path="~/Desktop/scripts/C/C_Arg_Parse"
                URL="https://github.com/JonMS95/C_Arg_Parse"
            />
            <C_Server_Socket
                version_major="1"
                version_minor="1"
                version_mode="DEBUG"
                local_path="~/Desktop/scripts/C/C_Server_Socket"
                URL="https://github.com/JonMS95/C_Server_Socket"
            />
            <SSL
                local_path="/usr/lib/x86_64-linux-gnu/libssl.so"
                type="built-in"
            />
            <Crypto
                local_path="/usr/lib/x86_64-linux-gnu/libcrypto.so"
                type="built-in"
            />
        </Dependencies>
    </Tests>
</config>
