<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Project_data
        version_major="1"
        version_minor="0"
        version_mode="DEBUG"
        URL="https://github.com/JonMS95/C_Socket"
        languages="C"
        type="library"
    />
    <!-- Directory structure -->
    <Directories>
        <Object_files/>
        <Executable_files/>
        <Dependency_files>
            <Header_files/>
            <Dynamic_libraries/>
        </Dependency_files>
    </Directories>
    
    <!-- Common shell files location -->
    <Common_shell_files
        version_major="1"
        version_minor="0"
        version_mode="DEBUG"
        local_path="~/Desktop/scripts/C/C_Common_shell_files"
        URL="https://github.com/JonMS95/C_Common_shell_files"
    />

    <!-- API -->
    <!-- Dependencies -->
    <Dependencies Dest="Dependency_files">
        <C_Severity_Log
            version_major="1"
            version_minor="0"
            version_mode="DEBUG"
            local_path="~/Desktop/scripts/C/C_Severity_Log"
            URL="https://github.com/JonMS95/C_Severity_Log"
        />
        <C_Arg_Parse
            version_major="1"
            version_minor="1"
            version_mode="DEBUG"
            local_path="~/Desktop/scripts/C/test_versions/C_Arg_Parse"
            URL="https://github.com/JonMS95/C_Arg_Parse"
        />
    </Dependencies>
</config>
